<section id="product-gallery" class="j-center">
<div class="gallery-container">
    <div class="d-contents" id="gallery">
        <div class="thumbnail-scrollable">
        <div class="product-gallery">
            <div><img
            class="thumbnail non-clickable"
            src="{{ 'neoric_zitrone_hell_1298x.jpeg' | asset_url }}"
            width="1000"
            height="1000"
            >
            </div>
            <div><img 
            class="thumbnail"
            src="{{ 'NeoricDunkel_Hell2_1298x.jpeg' | asset_url }}"
            width="1000"
            height="1000"
            >
            </div>
            <div><img 
            class="thumbnail"
            src="{{ 'neoric_zitrone_dunkel_1298x.jpeg' | asset_url }}"
            width="1000"
            height="1000"
            >
            </div>
            <div><img 
            class="thumbnail"
            src="{{ 'dsc02543_1412x.jpeg' | asset_url }}"
            width="1000"
            height="1000"
            >
            </div>
            <div><img 
            class="thumbnail"
            src="{{ 'dsc02531_1412x.jpeg' | asset_url }}"
            width="1000"
            height="1000"
            >
            </div>
        </div>
    </div>
    <div class="product-image">
        <div class="image-fade-wrapper">
            <img
            id="fadeA"
            class="product-focused-image"
            src="{{ 'neoric_zitrone_hell_1298x.jpeg' | asset_url }}"
            width="480"
            height="480"
            >
            <img
            id="fadeB"
            class="product-focused-image2"
            src="{{ 'neoric_zitrone_hell_1298x.jpeg' | asset_url }}"
            width="480"
            height="480"
            >
        </div>
    </div>
</div>
    <div class="d-contents">
        <div>
        </div>
        <div class="button-row">
        <div class="image-buttons">
            <a href="#"><img
            class="arrow-left"
            src="{{ 'arrow.png' | asset_url }}"
            width="350"
            height="350"
            >
            </a>
            <a href="#"><img
            class="arrow-right"
            src="{{ 'arrow.png' | asset_url }}"
            width="350"
            height="350"
            >
            </a>
        </div>
        </div>
    </div>
</div>
</section>

